<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./vue_js.css">
    <!-- 開発バージョン、便利なコンソールの警告が含まれています -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>vue.jsタスク</title>
  </head>
  <body>
    <div class="form_container">
      <form id="registration_form" name='registration_form' action="vue_js.html" method="post">
        <div class="filling_area">
          <div class="form-component">
            <label for="name">名前：</label>
            <input type="text" id="name" v-model="name" value="">
          </div>
          <div class="form-component">
            <label for="course">コース：</label>
            <input type="text" id="course" v-model="course" value="">
          </div>
          <div class="form-component">
            <label for="season">受講期：</label>
            <input type="text" id="season" v-model="season" value="">
          </div>
        </div>
      </form>
    </div>

    <div id="push">
      <button v-on:click="addStudetList">入力した生徒を追加する</button>
    </div>
    <div id="student_list_area">
      <ul>
        <student-list
          v-for="student in list"
          v-bind:student="student"
          v-bind:key="student.id"
          ></student-list>
      </ul>
    </div>

    <script src="main.js">
    </script>
  </body>
</html>
