html, body{
  margin: 5px;
  padding: 0;
}


.form_container{
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.filling_area{
  display: flex;
  justify-content: space-around;
}

#registration_form{
  text-align: left;
}
